<section class="d-flex justify-content-center">
    <div class="conteudo">
        <div class="card">
            <div class="cardheader mb-5">
                <h2 class="fw-bold card-title">SIGN IN</h2>
                <h4 class="text-muted">Insert Your Acount Information</h4>
            </div>
            
            <div class="mb-3">
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Username or Email">
            </div>
            <div class=" mb-5">
                <input type="text"
                  class="form-control" name="" id="" aria-describedby="helpId" placeholder="Password">
            </div>
            <button class="mb-5">
                Login Your Account
            </button>
            <span class="fw-bold text-center">No Account? Send email fabio@tindin.com.br</span>
        </div>
    </div>
</section>