/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { text-decoration: none;}

a,
span, 
h1, 
h2 
{
    font-family: 'Poopins', sans-serif;
}

section {
    background-color: #1B1919;
    /* position: absolute;
    bottom: 64px;
    top: 64px; */
    height: auto;
    width: 100%;
}  

.conteudo {
    max-width: 1200px;
    min-height: 885px;
}